#circular svg {
  height: 400px;
  width: 400px;
}

path {
  stroke: #777;
  stroke-width: 0.1px;
}

.labels {
  font-weight: 200;
  letter-spacing: -1px;
}
.labels.radial {
  fill: #aaa;
}
.labels.segment {
  font-size: 10px;
}
