Options +FollowSymlinks
RewriteEngine On

RewriteRule ^home$                index.php?action=home [L]
RewriteRule ^circularheat$                          index.php?action=circularheat [L]
RewriteRule ^circularheat/([0-9]+)/([0-9]+)$        index.php?action=circularheat&year=$1&weeknumber=$2 [L]
